/*
  Design by Metamorphosis Design
  http://www.metamorphozis.com
  Released for free under a Creative Commons Attribution 2.5 License
  */

*
{
    border: 0;
    margin: 0;
}

html{
    height: 100%;
}

img
{
    border: 0px;
}

body{
    height: 100%;
    font: 12px Arial, Helvetica, sans-serif;
    color: #000000;
    background: url(images/bg.png) top repeat-x;
    line-height: 20px;
}


#foot_bg {
    position: relative;
    min-height: 100%;
    background: url(images/footer_bg.png) bottom repeat-x;
}

#main {
    position: relative;
    min-height: 100%;
    width: 100%;/*983px;*/
    margin: 0px 0px;
    padding-bottom: 50px;
}

#header { 
    width: 983px;
    height: 180px;
}

#logo {	
    height: 75px;
    width: 300px;
    background: url(images/logo.png) left top no-repeat;
    background-position: 10% 20%;
    padding: 44px 0px 0px 768px;
}

#logo H2 {
    font-family: Arial, Helvetica, sans-serif;
    color:#FFFFFF;
    font-size:18px;
    font-style:italic;
}

#logo a {
    text-decoration: none;
    font-style: italic;
    font-size: 25px;
    color: #FFFFFF;
}

#logo H2 a{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: none;
    font-weight:100;
}

#buttons{
    text-align:center;
    height: 39px;
    margin-left: 0px;
    padding-top: 0px;
}

#buttons a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    display: block;
    float: left;
    text-decoration: none;
    color: #FFFFFF;
    text-align: center;
    padding-top: 11px;
    height: 28px;
}

.but {
    width: 193px;
}

#buttons .but:hover{
    color: #000000;
}

#content{
    width: 983px;
    background: url(images/cont_razd.gif) 296px 0px repeat-y;
}

#left{
    width: 314px;
    float: left;
    color:#000000;
    margin-left: 16px;
}

#left .buttons{
    width: 314px;
    height: 28px;
    background: url(images/tit_left.png) left top;
}

.box_bg {
    font-size: 12px;
    background:url(images/box_bg.png) left repeat-y;
}

.munth_box {
    text-align: justify;
    padding: 3px 15px 0px 39px;
    background: url(images/fish_left.gif) 6px 7px no-repeat;
}

.box { 
    width: 314px;
}

.box_bot {
    height: 9px;
    background:url(images/box_bot.png) left bottom no-repeat;
    width: 314px;
}

.box_top {
    height: 9px;
    background: url(images/box_top.png) left top no-repeat;
    width: 314px;}

.text{
    padding: 10px 0px 10px 0px;
    line-height: 18px;
}



.img_l {
    float:left;
    margin: 3px 15px 3px 0px;
}

.img_r {
    float: right;
    margin: 3px 6px 3px 10px;
}

span {
    color:#0276cf;
    font-size:12px;
    font-weight:bold;
}

#left H1{
    font-family: "Times New Roman", Times, serif;
    font-size:18px;
    font-weight: 100;
    color: #FFFFFF;
    text-align: center;
    padding: 15px 0px 20px 0px;
    background: url(images/tit_left.png) left top no-repeat;
}

#left a{
    text-decoration: none;
    color: #FFFFFF;
}

#left a:hover{
    color: #000000;
}

#right H1{
    font-family: "Times New Roman", Times, serif;
    font-size:18px;
    font-weight: 100;
    color: #0276cf;
    text-align:left;
    padding: 5px 0px 4px 2px;
    background: url(images/tit_right.png) bottom repeat-x;
}

.read{
    text-align:right;
    padding-right:5px;
    padding-top: 5px;
}

.read a {
    font-weight:bold;
    font-size:12px;
    color: #0276cf;
    text-decoration:underline;
}

.read a:hover {
    font-weight:bold;
    font-size:12px;
    color: #0276cf;
    text-decoration: none;
}

.read_l{
    text-align:right;
    padding-right:5px;
    padding-top: 7px;
    padding-bottom: 13px;
    background: url(images/but_read.png) 185px -5px no-repeat;
}

.read_l a {
    font-size:12px;
    color: #ffffff;
    text-decoration: none;
    padding-right: 2px;
    
}

.read_l a:hover {
    font-size:12px;
    color: #000000;
    text-decoration: none;
}

#right{
    float: right;
    width: 641px;
    
}

#right_top{
    width: 641px;
    height: 10px;
    background: url(images/right_top.png) left top no-repeat;
}
#right_bot{
    width: 641px;
    height: 10px;
    margin-bottom: 25px;
    background: url(images/right_bot.png) left bottom no-repeat;
}
#right_bg{
    background: url(images/right_bg.png) left repeat-y;
    padding: 0px 18px 0px 18px;
    
}

.galery {
    padding: 25px 0px 10px 12px;
    height: 82px;
}

.razd_g {
    float:left;
    background:url(images/razd_g.png) 15px 0px repeat-y;
    width: 31px;
    height: 82px;
}

.img_g {
    float:left;
}

#footer{
    text-align: center;
    position: absolute;
    bottom: 0px;
    height: 55px;
    width: 983px;
    min-width: 983px;
    font-size: 12px;
    color: #ffffff;
}

#footer a{
    color: #ffffff;
    font-size: 12px;
    text-decoration: none;
}

#footer a:hover{
    color: #ffffff;
    font-size: 12px;
    text-decoration: underline;
}

.left_res
{
    width: 50%;
    float: left;
}

.left_res a
{
    color: #4E6E33;
    font-weight: bold;
}

.right_res
{
    float: right;
    width: 50%;
}

.right_res a
{
    color: #4E6E33;
    font-weight: bold;
}

ul{
    color: #4E6E33;
}